#questions {
    text-align: left;
    font-family: 'lato', sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #questions td, #questions th {
    /* border: 1px solid #ddd; */
    padding: 8px;
  }


  #questions tr:nth-child(even){background-color: #f2f2f2;}
  
  #questions tr:hover {background-color: #ddd;}
  
  #questions th {
    background-color: #E6E6FA;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding-bottom: 20px;
  }

  #questions td{
    padding-bottom: 20px;
  }

.new-status-color{
  background-color: red;
  width: 70px;
  height: 20px;
  border-radius: 15px;
}

.new-status-color span{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.open-status-color{
  background-color: orange;
  width: 70px;
  height: 20px;
  border-radius: 15px;
}

.open-status-color span{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.pending-status-color{
  background-color: rgb(0, 87, 128);
  width: 80px;
  height: 20px;
  border-radius: 15px;
}

.pending-status-color span{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}