.form-content-main-wrapper{
    background-color: #f9f9f9;
    padding-left: 200px;
    padding-bottom: 30px;
}
.application-label{
    font-size: 16px;
    line-height: 1.4;
    vertical-align: middle;
    width: 100%;
    margin: 17.5px 0;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 1.8;
    font-family: Lato;
}

h4{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 700;
    font-stretch: normal;
    font-size: 20px;
    line-height: 1.4;
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #515357;
}

.application-field{
    float: right;
    padding-right: 650px;
}

.applicant-input-field{
    width: 400px;
    height: 30px;
}

textarea{
    width: 900px;
    height: 200px;
}