.profile-page-first-h1{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    margin: 0 0 8px 0;
    padding: 0;
    text-align: center;
    padding-top: 30px;
}